<div class="modal-header">
    <h4 class="modal-title">Authetication</h4>
    <a
        role="button"
        class="close"
        (click)="closeModal()"
        href="javascript:void(0);"
            >
        <span>&times;</span>
    </a>
</div>
<div class="modal-body">
    <form #authorization="ngForm" (ngSubmit)="logIn()">
        <div class="form-group">
            <label for="email">Email</label>
            <input
                required
                id="email"
                type="email"
                name="email"
                #email="ngModel"
                class="form-control"
                [(ngModel)]="auth.email"
                [ngClass]="{
                    'is-invalid': (email.invalid && email.touched),
                    'is-valid': (email.valid && email.touched)
                 }"
                pattern="^.{2,}[@]{1}[\w\.\S]{2,}[\.]{1}[A-Za-z]{2,}$"
                    />
            <!--Error report-->
            <div
                class="text-danger position-absolute"
                *ngIf="email.invalid && email.touched"
                    >
                <div *ngIf="email.errors.required">
                    Email is required
                </div>
                <div *ngIf="email.errors.pattern">
                    Wrong email format. Example: hello@gmail.com
                </div>
            </div>
            <!--To set place error report -->
            <div class="offset-top-4"></div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input
                required="required"
                minlength="8"
                type="password"
                name="password"
                #password="ngModel"
                class="form-control"
                [(ngModel)]="auth.password"
                [ngClass]="{
                    'is-invalid': (password.invalid && password.touched),
                    'is-valid': (password.valid && password.touched)
                 }"
                    />
            <!--Error report-->
            <div
                class="text-danger position-absolute"
                *ngIf="password.invalid && (password.dirty || password.touched)"
                    >
                Password must be at least 8 characters long.
            </div>
            <!--To set place error report -->
            <div class="offset-top-4"></div>
        </div>
        <div class="form-group">
            <button
                type="submit"
                class="btn btn-sh btn-sh-dark offset-top-2"
                [disabled]="!authorization.form.valid"
                    >
                Send
            </button>
            <!--Error response from server side-->
            <p
                [ngClass]="{
                    'visible': authService.errorMessage,
                    'invisible': !authService.errorMessage
                 }"
                class="text-danger offset-top-2"
                    >
                Error: {{authService.errorMessage}}
            </p>
        </div>
    </form>
</div>

